.card {
	width: 300px;
	height: 462px;
	margin: 10px 5px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.description {
	width: Fixed (300px) px;
	height: Hug (47px) px;
	gap: 8px;
	display: flex;
	flex-direction: column;
	margin-top: 5px;
}
.text {
	width: 60%;
	height: 20px;
	font-family: Simplon Norm;
	font-size: 18px;
	font-weight: 700;
	line-height: 21.6px;
	color: var(--text-color);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.subLine {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: Simplon Norm;
	font-size: 14px;
	font-weight: 400;
	line-height: 16.8px;
	color: var(--grey-color);
}
.subLine svg {
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.subLine span {
	text-decoration: underline;
}

.figure {
	width: 300px;
	height: 389px;
	position: relative;
}

@media screen and (max-width: "750px") {
}

@media screen and (max-width: "450px") {
	.card {
		flex: 1;
	}
	
	.description {
		width: 168px;
		height: 45px;
		gap: 4px;
	}
}
